<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.circre.be.mapper.MaterialMapper">
    <!-- 查询操作 -->
    <select id="getMaterialById" parameterType="Integer" resultType="com.circre.be.entity.Material">
        SELECT * FROM material WHERE id = #{id}
    </select>

    <!-- 批量查询材料 -->
    <select id="getMaterialsByIds" parameterType="java.util.List" resultType="com.circre.be.entity.Material">
        SELECT * FROM material WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 根据类别查询材料 -->
    <select id="getMaterialByType" parameterType="String" resultType="com.circre.be.entity.Material">
        SELECT * FROM material WHERE category = #{type}
    </select>
</mapper>
